body{
    background-color: rgb(0, 0, 0);
    color: greenyellow ;
    height: 100vh;
    overflow: auto;
}

pre{
    font-family: monospace;
    font-size: 20px;
}

.donut-container{
    display:flex ;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.p{color: antiquewhite;}


.h1{color: blue;
font-size: 20px;}